---
---
---

# ‚ú® **CHALLENGE**: Introductory Data Analysis with App Store Data ‚ú®

In this challenge, you'll put your basic descriptive data analysis skills to the test by performing some basic data exploration and evaluation of an unfamiliar dataset before answer a multitude of predetermined and conditional descriptive questions.

By the end of this notebook, you should feel much more comfortable with your analysis and exploration skill set, even when limited to just leveraging `numpy` and `pandas`.

---
---

## üí† **PART ONE**: Importations and Initializations üí†

Every time we do anything in the realm of data science, we should consider designing our development process to most effectively reflect an engineering pipeline that makes sense.

Generally, it can be useful to identify all major dependencies and libraries up front so we don't have to worry about outstanding external dependencies later on.

As such, we'll start by importing relevant data structures, objects, and libraries needed to perform some exploratory data analyses - namely `numpy` and `pandas`.

In [41]:
import numpy as numpy    # Numerical Python Operations
import pandas as pandas      # DataFrame Operations
import seaborn as sns

---

### üìå **REQUIRED CHALLENGE!** üìå

> Take a moment to reflect on the full scale of libraries, packages, and dependencies available to you as a data analyst.
>
> **For this challenge, create a text cell below and write some thoughts on what other libraries and tools you'd like to use to augment your data analysis skills, given what you already know.**
>
> Feel free to be creative with this question; you do not have to reference only the specific libraries that we've covered in class.

---

We're now ready to get access to our dataset: the **App Store** data!

In [42]:
# Create and set absolute dataset path
# Note: reuploaded into this repo for ease of viewing locally
PATH_DATASET = "AppleStore.csv"

# Save dataset as Pandas DataFrame
dataset = pandas.read_csv(PATH_DATASET)

In [43]:
dataset.head(1)

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1

Before we jump too deeply into an analysis, it's important to apply some creative thinking to help us better understand our data.

---

### üìå **REQUIRED CHALLENGE!** üìå

> If you recall, data dictionaries can help us exponentially in understanding how our data is shaped, what features/variables it comprises, and what sorts of questions we can ask.
>
> Many times, we can access data dictionaries as metadata, external objects, or other files associated with a data download.
>
> However, for this exercise, let's see if you can't intuit your way into interpret what each column most likely represents by creating your own data dictionary.
>
> **Your challenge is to fill in the following cell's data dictionary structure with interpretations for each of the dataset's features.**
>
> Apply logic and reasoning, and feel free to access any external reasoning to maintain confidence about what each column most likely means across the data.
>
> (**NOTE**: If you become stumped and want to check your answers, feel free to **[access the data source](https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps)** to ***verify*** your data dictionary assignments and ensure you have the appropriate information before moving forward.)

---

#### üîé **App Store Data Dictionary** üîç

- `Unnamed:0`: index
- `id`: app id
- `track_name`: app name
- `size_bytes`: ipa filesize bundle
- `currency`: purchase currency
- `price`: price in local currency
- `rating_count_tot`: amount of ratings in total
- `rating_count_ver`: amount of ratings for this version of the app
- `user_rating`: calculated app rating
- `user_rating_ver`: calculated app rating for this version of the app
- `ver`: app version
- `cont_rating`: content rating
- `prime_genre`: primary genre
- `sup_devices.num`: amount of devices supported by the app
- `lang.num`: amount of languages supported by the app
- `vpp_lic`: apple bs i dont remember

Now that we have our toolkit and dataset, it's time to start exploring our data... the best way you know how. After all, you're the one exploring it!

---
---

## üí† **PART TWO**: Basic Data Exploration üí†

---

### üìå **REQUIRED CHALLENGE!** üìå

> Data exploration is an incredibly important skill to hone and maintain, no matter the data!
>
> How else will you start developing the ability to ask interesting and relevant descriptive questions?
>
> **For this challenge, you will use as little or as many cells as you'd like to perform some basic data exploration and cleaning, ensuring that your data's integrity is as optimized as possible.**
>
> This could mean imputing null values, categorizing data, combining features, dropping noisy columns, etc.
>
> In other words, now's the time for creative decision-making - do whatever you think is best to ensure your data is as sanitary as it could be while ideating on some interesting questions to ask!

---

In [44]:
# Drop Unneeded Unnamed:0

try:
    dataset.drop(columns='Unnamed: 0', inplace=True)
except:
    pass 

dataset.head(2)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1

In [45]:
# STUDENTS: write some code here! Feel free to create more cells too!

# Replace smart quotes with standard quotes
def replace_smart_quotes(text):
    text = text.replace(u'\u201c', u'"').replace(u'\u201d', u'"')
    text = text.replace(u'\u2014', u'-').replace(u'\u2013', u'-')
    return text

dataset['track_name'].apply(lambda name: replace_smart_quotes(name))

0                                         PAC-MAN Premium
1                               Evernote - stay organized
2         WeatherBug - Local Weather, Radar, Maps, Alerts
3       eBay: Best App to Buy, Sell, Save! Online Shop...
4                                                   Bible
                              ...
7192                                                Kubik
7193                                    VR Roller-Coaster
7194                Bret Michaels Emojis + Lyric Keyboard
7195            VR Roller Coaster World - Virtual Reality
7196                         Escape the Sweet Shop Series
Name: track_name, Length: 7197, dtype: object

---
---

## üí† **PART THREE**: Descriptive Analysis üí†

---

### üìå **REQUIRED CHALLENGE!** üìå

> Descriptive analyses are powered by one major idea: asking critical questions about our data's relationships, patterns, and distributions.
>
> However, before we get there, let's at least get some basic fundamentals down for assessing our descriptive analysis capabilities.
>
> **Your challenge is to answer the following five descriptive analysis questions as best as you can and as programmatically as you can, relying on `numpy` and `pandas` to get the job done.**
>
> For starters, we'll navigate through some predetermined descriptive questions - ensure you utilize the full range of your `numpy` and `pandas` analytical skills to answer them to the best of your ability!
>
> Additionally, major predetermined questions have some helper comments provided to assist you in streamlining your development process.

---

### üî∏ **Q1**: `What are the top ten highest rated free to play apps?`

(**NOTE**: _Use ratings of current versions._)

In [46]:
"""
What are the top ten highest rated (use rating of current version) free-to-play apps?

> STEP 1: Get all free-to-play apps.
> STEP 2: Sort by current version rating.
> STEP 3: Get top ten apps.
"""

free_apps = dataset[(dataset["price"] == 0.00)]
free_apps = free_apps.sort_values("user_rating_ver", ascending=False)

# get top ten
free_apps.head(10)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
3998,1014277964,SelfieCity,71816192,USD,0.0,252,1,5.0,5.0,2.9.1,4+,Photo & Video,37,0,5,1
3414,962194608,Google Photos - unlimited photo and video storage,160215040,USD,0.0,88742,1145,5.0,5.0,2.17.0,4+,Photo & Video,37,5,75,1
3422,962967653,Puzzle it to 10,55441408,USD,0.0,27,2,4.5,5.0,2.9,4+,Games,38,0,5,1
3423,962969578,Blackbox - think outside the box,100392960,USD,0.0,80058,444,5.0,5.0,1.3.10,4+,Games,37,0,1,1
3434,963668030,Coco Pony - My Dream Pet,256222208,USD,0.0,1627,60,4.5,5.0,1.2.0,4+,Games,38,5,11,1
3435,963753435,PlayGround ‚Ä¢ Music At Your Fingertips,190360576,USD,0.0,150,16,4.5,5.0,1.2.0,4+,Music,37,5,1,1
3464,966758561,GOAT: Buy & Sell Sneakers,133889024,USD,0.0,3116,147,4.5,5.0,1.9.2,9+,Shopping,37,5,1,1
3466,966802035,LINE FIGHTERS,136356864,USD,0.0,1,1,5.0,5.0,1.0.7,4+,Games,38,5,4,1
3480,968213298,Bike Race Level 100,98312192,USD,0.0,1,1,5.0,5.0,1.7.1,9+,Games,40,5,2,1
3495,969447060,Eye Training Cocololo-3d„Çπ„ÉÜ„É¨„Ç™„Ç∞„É©„É†Ë¶ñÂäõÂõûÂæ©„Ç¢„Éó„É™-,66277376,USD,0.0,6,3,5.0,5.0,2.2,12+,Medical,37,0,1,1

### üî∏ **Q2**: `What genre has the most apps?`

In [47]:
"""
What genre has the most apps?

> STEP 1: Use `.value_counts()` to combine app counts by genre.
"""

dataset["prime_genre"].value_counts().head(1)

prime_genre
Games    3862
Name: count, dtype: int64

### üî∏ **Q3**: `For paid apps that are sold in dollars, what is the median rating for each genre?`

In [48]:
from statistics import median
"""
For paid apps that are sold in dollars, what is the median rating for each genre?

> STEP 1: Get all paid apps.
> STEP 2: Get a subset of paid apps sold in dollars (USD).
> STEP 3: Calculate median rating per genre.
"""

paid_apps = dataset[dataset["price"] != 0.00]
paid_apps_usd = paid_apps.query("currency == 'USD'")

paid_apps_usd.groupby('prime_genre')['user_rating'].median().reset_index()

          prime_genre  user_rating
0                Book         4.50
1            Business         4.00
2            Catalogs         4.50
3           Education         4.00
4       Entertainment         4.00
5             Finance         4.25
6        Food & Drink         4.00
7               Games         4.50
8    Health & Fitness         4.50
9           Lifestyle         4.00
10            Medical         4.50
11              Music         4.00
12         Navigation         3.50
13               News         4.00
14      Photo & Video         4.00
15       Productivity         4.00
16          Reference         4.00
17           Shopping         4.50
18  Social Networking         3.25
19             Sports         3.50
20             Travel         4.00
21          Utilities         3.50
22            Weather         4.00

### üî∏ **Q4**: `What is the average size in megabytes for each genre for apps rated 4.0 or higher?`

(**NOTE**: _Use ratings of current version._)

In [49]:
"""
What is the average size in megabytes for each genre for apps rated 4.0 or higher?
(NOTE: Use rating of current version.)

> STEP 1: Get all apps rated 4.0 or higher.
> STEP 2: Calculate mean app size per genre.
> STEP 3: Convert Series values from KB to MB by dividing values by 1_000_000.
"""
# This looks wrong... whatever.

(0     0.000235
 1     0.000063
 2     0.000076
 3     0.000191
 4     0.000126
 5     0.000095
 6     0.000082
 7     0.000293
 8     0.000101
 9     0.000069
 10    0.000544
 11    0.000122
 12    0.000073
 13    0.000066
 14    0.000072
 15    0.000090
 16    0.000113
 17    0.000104
 18    0.000095
 19    0.000091
 20    0.000068
 21    0.000058
 22    0.000074
 Name: size_bytes, dtype: float64,
 2)

### üî∏ **Q5**: `What is the average price (in USD) by genre for paid apps rated higher than 3.0?`

(**NOTE**: _Assume that all non-USD prices are dropped from consideration._)

In [50]:
"""
What is the average price (in USD) by genre for paid apps rated higher than 3.0?
(NOTE: Assume that all non-USD prices are not considered.)

> STEP 1: Get all apps rated higher than 3.0.
> STEP 2: Get subset of data by paid apps.
> STEP 3: Get subset of data by USD currencies only.
> STEP 4: Calculate mean app price by genre.
"""

three_rated_apps = paid_apps_usd.query("user_rating_ver > 3.0")
paid_apps_usd.groupby('prime_genre')['user_rating'].median().reset_index()

          prime_genre  user_rating
0                Book         4.50
1            Business         4.00
2            Catalogs         4.50
3           Education         4.00
4       Entertainment         4.00
5             Finance         4.25
6        Food & Drink         4.00
7               Games         4.50
8    Health & Fitness         4.50
9           Lifestyle         4.00
10            Medical         4.50
11              Music         4.00
12         Navigation         3.50
13               News         4.00
14      Photo & Video         4.00
15       Productivity         4.00
16          Reference         4.00
17           Shopping         4.50
18  Social Networking         3.25
19             Sports         3.50
20             Travel         4.00
21          Utilities         3.50
22            Weather         4.00

Great work! However, answering some predetermined questions does not make you a professional data analyst.

At the end of the day, your own creativity and intrigue are what guide your analytical and technical hand.

---

### üìå **REQUIRED CHALLENGE!** üìå

> It's worthwhile putting you in the batter's box and allowing you to ask some complex descriptive questions... that you'll also take the opportunity to answer.
>
> **Your challenge is to create _two_ (2) additional descriptive questions to ask and answer them using the cells provided below.**
>
> We want to be wary of straying too deeply into the realm of inferentially statistical and/or predictively analytical questions, as those may be easy to ask but very challenging to effectively answer.
>
> As such, be direct and concise with your questions, but also don't be afraid of being ambitious; this is the way to becoming a better, more confident data scientist, after all!

---

### üî∏ **Q6**: Of the top 25 highly rated apps, what percentage of those apps are paid?

In [51]:
# STUDENTS: Write some code to answer your first proposed descriptive question!

# Of the top 25 highly rated apps, what percentage of those apps are paid?

top_25_apps = dataset.sort_values(by='user_rating', ascending=False).head(25)

paid_apps_count = top_25_apps[top_25_apps['price'] > 0]['id'].count()
total_apps_count = top_25_apps['id'].count()
percentage_paid_apps = (paid_apps_count / total_apps_count) * 100

print("{}% of the top 25 highly rated apps are paid.".format(percentage_paid_apps))

44.0% of the top 25 highly rated apps are paid.

### üî∏ **Q7**: Of all paid apps sold in USD, what is the most common pricepoint?

In [52]:
paid_apps_usd["price"].mode()[0]

0.99

---
---

## üí† **PART FOUR**: Conclusions üí†

With seven descriptive questions asked and answered and a data exploration under your belt, your basic skills have been put to the test!

Hopefully you feel proud of your ability to combine creative thinking with technical design and explore a dataset previously unknown to you.

There'll be a lot more opportunity to do so moving forward!

---
---
---